html {
	font-family: Helvetica, Arial;
}

div {
	margin: 0;
	padding: 0;
}

div div {
	/*border: 2px dashed black;*/
	margin-top:89px
}

a {
	font-size: 13px;
	text-decoration: none;
	color: #6E6E6E;
}

a:hover {
	text-decoration: underline;
}

.logo {
	position: relative;
	margin-top: 200px;
}

#image {
	height: 110px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.form {
	margin-top: 15px;
}

#textbox {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	width: 500px;
	font-size: 20px;
}

.submit {
	width: 1px;
	margin: auto;
}

#search {
	border: 2px solid #F2F2F2;
	padding: 8px 15px;
	font-size: 13px;
	font-weight: bold;
	background-color: #F2F2F2;
	color: #6E6E6E;
	display: block;
	position: relative;
	margin-top: 30px;
	margin-left: -140px;
}

#search:hover {
	color: #2E2E2E;
	border: 0.5px solid #BDBDBD;
	padding: 9.5px 16.5px;
}

#lucky {
	border: 2px solid #F2F2F2;
	padding: 8px 15px;
	font-size: 13px;
	font-weight: bold;
	background-color: #F2F2F2;
	color: #6E6E6E;
	display: block;
	position: absolute;
	margin-top: -38px;
	margin-left: 0px;

}

#lucky:hover {
	color: #2E2E2E;
	border: 0.5px solid #BDBDBD;
	padding: 9.5px 16.5px;
}

.header {
	height: 40px;
	text-decoration: none;
	text-align: right;
	display: block;
	margin-top: auto;
	padding-top: 0px;
}

.bar_image {
	vertical-align: middle;
}

#notif {
	width: 12px;
	height: 12px;
	vertical-align: middle;
	padding-top: 3px;
	margin-right: -2.75px;
}

.round_image {
	width: 23px;
	height: 23px;
	border-radius: 20px;
	background-color: #BDBDBD;
	display: inline-block;
	margin-top: auto;
	vertical-align: middle;
}

.round_image:hover {
	background-color: #000000;
}

#pic {
	width: 24px;
	height: 23px;
	border-radius: 20px;
}

#footer {
	background-color: #F2F2F2;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	border-top: 2px solid #E6E6E6;
	position: absolute;
}

.l_text {
		display: block;
		text-align: left;
		left: 25px;
		bottom: 12px;
		position: absolute;
}

.r_text {
		position: absolute;
		display: block;
		text-align: left;
		vertical-align: middle;
		right: 10px;
		bottom: 12px;
}